language: generic


addons:
  homebrew:
    packages:
    - python@2

env:
  global:
    - PROJECT_NAME=convertbng
    - DOCKER_IMAGE=quay.io/pypa/manylinux2010_x86_64
    - secure: vhxwFNwpTYW++3pDXwAQnhC31jQQY8thUQaUvJdRj5Vx51qUa9rX3dRypYaBW2osN3PreAGNLOjUKhhobBr0dXkx6s5k8Ring9nnzZNwA+ZTsM8Ch4Ywq3ilDmgxPr/90Goe36x3pGuDTU+AMeBl+ySL5Lmx2Jn/uifAnDS44j/QWYxh3gwGVgZ9qA0Uo8h9LRrn7cUZ1ywHTbHs+ErkQYeMsiP0ILGM6VlyI0wpTF6FhSM2xa47UyErLZ7YkBjDHwcqL1ameZUsoOKwvc5fLZ4lPD6dZAQO0vHQ6nmjqENsK2BgK3UjMHT55+ukJq37u5sergv4KB2YmOH0HM7AW3mBUlUyg0fwWyJ3N0GENoTa6cJLkWK4yLO+FmR/qE5PiKUaue2l7QLJSjS6HgLUytCPkAPp90wxYegLFfXJnGYN54r7D5HrLbvbK57hqx050bmQtZ9bt1DquYunLux/2oMEpmJ6Bkvb/AVc6ktOfRleC+trCUOsSL9cGeyCMVV+cOFrUxt6HYkOGjpyvao1vNFNULwxI8n6Abr4RpJX8lbke2U3lLg3RvQ6HmyGNx2hAm5gqZBjGhnpGryFPIA9H0W5gxgASYq6cfv8ln7Ifj0dhQx/T/vZ76c7wD//AUJ0Lay4N8zn8YMbBOSoTse7A4w2OQsJGGK3voN790qqUVY=

matrix:
  include:
    - sudo: required
      env: TARGET=x86_64-unknown-linux-gnu
      services:
        - docker
    - os: osx
      osx_image: xcode11.4
      env: TARGET=x86_64-apple-darwin TRAVIS_PYTHON_VERSION=2.7.17 RELEASE_PYTHON_VERSION=-cp27
      sudo: required
    - os: osx
      osx_image: xcode11.4
      env: TARGET=x86_64-apple-darwin TRAVIS_PYTHON_VERSION=3.6.5 RELEASE_PYTHON_VERSION=-cp36
      sudo: required
    - os: osx
      osx_image: xcode11.4
      env: TARGET=x86_64-apple-darwin TRAVIS_PYTHON_VERSION=3.7.6 RELEASE_PYTHON_VERSION=-cp37
      sudo: required
    - os: osx
      osx_image: xcode11.4
      env: TARGET=x86_64-apple-darwin TRAVIS_PYTHON_VERSION=3.8.5 RELEASE_PYTHON_VERSION=-cp38
      sudo: required

before_install:
  - echo $LATEST_TAG > key.txt
  - echo $PRE_CMD
  - bash ci/pre_install.sh

install:
  - bash ci/install.sh

cache: pip

script:
  - bash ci/script.sh
  # only run coverage reporting on OS X
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      source venv/bin/activate;
      pip install $PROJECT_NAME --no-index -f wheelhouse
      nosetests --with-coverage --cover-package $PROJECT_NAME;
    fi

branches:
  only:
    - master

after_success:
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      source venv/bin/activate;
      coveralls;
    fi

before_deploy:
  - bash ci/before_deploy.sh

deploy:
  provider: releases
  # TODO Regenerate this api_key for your project, this one won't work for you. Here's how:
  # - Go to 'https://github.com/settings/tokens/new' and generate a Token with only the
  # `public_repo` scope enabled
  # - Call `travis encrypt $github_token` where $github_token is the token you got in the previous
  # step and `travis` is the official Travis CI gem (see https://rubygems.org/gems/travis/)
  # - Enter the "encrypted value" below
  api_key:
        - secure: AffSkQzpkgZyPKgi4vanN7B7W3RxlIIaLMIPlmclLvtVVOfV+AH0AqHgDaIUUWKAOYiIJzQBhGLVfzcbJForg1ioZVj8AcBdbsM9mFJk9kq09y5YJ55izeQ7onmYiibrkh40zs5TNAsrcXXwIHlRbZc1S2edaWOPUfMBc9DhHuofuA2yHH6zc247/pVykdVCZmtQgx0EzWfS9/eesbjUF/m5R+uudNGNxXoJesyWshMTktFxUqVguuRe5uzY1LeOJtXLXtvPCXLuxDUZ/++5zCt+BdyJyhMf1j8z1wDSzdYz4hbhTt9Hxs7BbQwWtmME0LVboFasdDm4Ssbjs5J5z4aellDij1KAwNGnOo74Dueythpcy+r+jqN53SwvP1Jz/s+XqYJ6djqVR5p7OlCdeA3TDhuydQtt3cMRfDmGf2Alzxy4+6DA7Fg8wp0iL/ODx4t6NxEy6JGqXRcgyCz2W91mXIKB1pyWtWc/9b66UVwV27ueO+DRuMn+kFokmekcfV1EyU9WhZ4zQSxmTKODsfxJ4KnrXWgYMPtEIuxCZKw8xFO06aTk+B/xlXNHMq+v9CK+71abTNsJEYd7w8yWv9/vEz1bgbpqXpvn83kUvzwa7eGQogbPvW6WZUB9XSQJM8+2mtpwr7Dd7h/PlIXL+O2+U6X3NZKPi5TFUQB3/pw=
  file_glob: true
  file: ${PROJECT_NAME}-${TRAVIS_TAG}-${TARGET}${RELEASE_PYTHON_VERSION}.*
  # don't delete the artifacts from previous phases
  skip_cleanup: true
  # deploy when a new tag is pushed
  on:
    tags: true

branches:
  only:
    # Pushes and PR to the master branch
    - master
    # IMPORTANT Ruby regex to match tags. Required, or travis won't trigger deploys when a new tag
    # is pushed. This regex matches semantic versions like v1.2.3-rc4+2016.02.22
    - /^v\d+\.\d+\.\d+.*$/

notifications:
  email:
    on_success: never
