include convertbng/*.py
include convertbng/*.pyx
include convertbng/*.c
include convertbng/*.h
include convertbng/*.pxd
include convertbng/*.pyd
include convertbng/*.so
include convertbng/*.dylib
include convertbng/rdp.dll
include license.txt
include README.md
include ostn002.gif
