include convertbng/*.py
include convertbng/*.pyx
include convertbng/*.c
include convertbng/*.h
include convertbng/*.pxd
include convertbng/liblonlat_bng.dylib
include convertbng/liblonlat_bng.so
include license.txt
include README.md
include README.rst
include ostn002_s.gif
